body {
  background-color: #8bb9a2 !important;
}
  
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin-top: 2em;
}

.button{
  background-color:#1d5338;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em; 
  border-radius: 8px;
}

.napit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5em;
}