.table{
    font-family: 'Courier New', Courier, monospace; 
}

.form-group{
    font-family: 'Courier New', Courier, monospace; 
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    background-color:#1d5338;
    color: white;
    border:none;
    margin-top: 1em;
    margin-bottom: 10em;
}

#empty {
    background-color:#1d5338;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
}

input {
    align-self: center;
    max-width: 500px;
}
