#button {
    background-color:#1d5338;
    border: none;
    color: white;
    margin-top: 1em;
    margin-bottom: 4em;
}

#product {
    color: #0e3e54;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 2em;


}

h3 {
    color: #0e3e54;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large; 
    font-weight:normal;
    margin-bottom: 2em;

}


