footer {
    position: fixed;
    bottom: 0;
    padding-top: 10px; 
    width: 100%;
    height: 60px;
    text-align: center;
    background-size: cover;
    background-color: #83a2b1 !important;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}