#navbar {
    background-color: #83a2b1 !important;
    height: 7em;
    margin-bottom: 5em;
}

/* Tämä vaihtaa kaikki taustat vihreiksi */
.container-fluid, li, .dropdown-menu.show  {
    background-color: #83a2b1;
}

/* Tämä laittaa ostoskorin ympärille matskua */
.cart {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 1.5em;
}

/* Ikonin linkistä viiva pois */
a {
    text-decoration: none;
    color: #1d5338;
}

form {
    margin-right: 40px;
}