
/*h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
  }*/
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
  }

 






/* Tämä muuttaa karusellin kuvia, pitää vaihtaa jos tulee jotain muuta */

img {
    height: 200px;

}